* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

.banner {
  width: 100vw;
  padding: 50px;
  background-color: #11225a;
}
.innerbanner {
  width: 100vw;
  padding: 5px;
  background-color: #ff7f00;
}

.container {
  display: flex;
  color: #11225a;
}

.sidebar {
  width: 250px;
  background-color: white;
  color: #11225a;
  padding: 50px 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hamburger {
  display: none;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.menu ul {
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
  list-style-type: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #11225a;
}

.menu li a:hover,
.menu li.active a {
  color: #ff7f00;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 250px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-picture {
  display: flex;
  align-items: center;
}

.profile-picture img {
  border-radius: 50%;
  max-width: 100px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #11225a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ff7f00;
}

#upload {
  display: none;
}

.delete-btn {
  background-color: #11225a;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-btn {
  margin-top: 10px;
  background-color: #11225a;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #ff7f00;
}

.card-container {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.card {
  background-color: #11225a;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-number {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
}

.card-footer {
  text-align: center;
}

.remove-btn {
  background-color: #11225a;
}

.remove-btn:hover {
  background-color: #cc0000;
}
.submit {
  display: flex;
  flex-direction: row-reverse;
}
.submit-btn {
  margin-top: 20px;
  width: 40%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .cover {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    color: darkblue;
  }
  .main-content {
    margin-left: 0;
    padding: 10px;
  }
  .form {
    grid-template-columns: 1fr;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .submit-btn {
    width: auto;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    padding: 10px;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .main-content {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-picture img {
    max-width: 80px;
  }

  .buttons {
    flex-direction: column;
    gap: 5px;
  }

  .card {
    width: 100%;
  }
}
