* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f8;
}

.contact-us-container {
    display: flex;
    width: 600px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-us-image-section {
    flex: 1;
    background: url('./Pay-me-img/chart-img.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-us-logo {
    width: 100px;
}

.contact-us-social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-us-social-icon {
    width: 30px;
    margin: 0 10px;
    margin-top: 550px;
}

.contact-us-form-section {
    flex: 1.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.contact-us-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 1rem;
    color: #0D1944;
}

.contact-us-description {
    margin-bottom: 10px;
    text-align: center;
    color: #666;
    font-size: 0.50rem;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-us-label {
    font-weight: bold;
}

.contact-us-input, .contact-us-textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-us-btn {
    padding: 8px;
    background-color: #0D1944;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.contact-us-btn:hover {
    background-color: #0D1944;
}

.contact-us-live-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.contact-us-live-chat-logo {
    width: 30px;
}

.contact-us-live-chat-title {
    margin-top: 10px;
    text-align: left;
    color: #0D1944;
}

.contact-us-title{
    color: #0D1944;
}

#contactUsFormMessage{
    color: #E67E22;
}


/* Mobile view */
@media (max-width: 767px) {

    html{
        background-color: #E67E22;
    }

    body{
        background-color: transparent;
    }
    .contact-us-container {
        flex-direction: column;
         width: 500px;
         height: 800px;
    }

    .contact-us-image-section {
        height: 200px;
        background-size: cover;
        background-position: center;
        padding: 10px;
    }

    .contact-us-logo {
        width: 80px;
    }

    .contact-us-social-icon {
        margin-top: 20px;
    }

    .contact-us-form-section {
        padding: 20px;
    }

    .contact-us-btn {
        width: 100%;
        align-self: center;
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {

    html{
        background-color: #0D1944;
    }

    body{
        background-color: transparent;
    }
    .contact-us-container {
        flex-direction: column;
        width: 700px;
        height: 800px;
    }

    .contact-us-image-section {
        height: 100px;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }

    .contact-us-logo {
        width: 20px;
    }

    .contact-us-form-section {
        padding: 10px;
    }

    .contact-us-btn {
        width: 50%;
        align-self: center;
    }
}