* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  color: darkblue;
  padding: 20px;
  height: 100vh;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar .menu {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
}

.sidebar .hamburger {
  display: none;
}

.sidebar ul {
  margin: 5rem 0 0 2rem;
  list-style-type: none;
  padding: 0;
}
li a {
  text-decoration: none;
  color: darkblue;
}

li a:hover,
.active a {
  color: #ff7f00;
}

.sidebar ul li {
  margin: 25px 0;
  cursor: pointer;
}
li img {
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 16rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
  color: darkblue;
}

header h1 {
  display: inline-block;
}
header img {
  width: 50px;
  margin-left: 15px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.stat-item {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.stat-item p {
  color: darkblue;
  margin-bottom: 5px;
  font-weight: 500;
}

.stat-item img {
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.balance-section {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balance {
  background-color: #ff7f00;
  color: #fff;
  padding: 2rem 6rem;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.balance h1 {
  margin-bottom: 30px;
}
.balance .avaBalance {
  margin-bottom: 30px;
}
.top-up {
  vertical-align: top;
  padding: 20px;
  text-align: start;
}

.top-up input {
  margin-top: 20px;
}

.btnFund {
  background-color: darkblue;
  margin-top: 20px;
  max-width: 120px;
  width: 100px;
  border-radius: 6px;
  padding: 8px 15px;
}

button {
  color: #fff;
  background-color: darkblue;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff7f00;
  outline: none;
}

.topUP {
  color: darkblue;
}

.recent-activity .recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.recent .activity {
  display: flex;
}

.activity h3 {
  margin-left: 10px;
  color: gray;
}
.recent input {
  padding: 8px;
  background-color: rgb(229, 227, 227);
  outline: none;
  border: none;
  border-radius: 5px;
}

.recent input::placeholder {
  text-align: center;
}

.search {
  position: relative;
}
.search img {
  width: 30px;
  position: absolute;
  left: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table button {
  background-color: darkblue;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

table button:hover {
  background-color: #ff7f00;
}

.startTransaction {
  float: right;
  margin: 30px 30px;
}
.startTransaction .btn-transaction {
  padding: 10px 25px;
  border-radius: 6px;
}

.btn-transaction a {
  color: #fff;
  text-decoration: none;
}
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .sidebar .logo {
    text-align: left;
    margin-top: 2rem;
  }
  .logo img {
    width: 100px;
  }

  .menuburger {
    align-items: center;
  }

  .menuburger,
  .menuMobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menuburger .menuMobile a i {
    font-size: 1.5rem;
  }
  .sidebar .hamburger {
    display: block;
  }

  .sidebar .menu {
    display: none;
  }

  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header img {
    width: 25px;
  }

  .stats {
    flex-direction: column;
  }

  .balance-section {
    flex-direction: column;
    padding: 10px;
  }

  .balance,
  .top-up {
    width: 100%;
    margin-bottom: 10px;
  }

  .recent-activity .recent {
    flex-direction: column;
    align-items: flex-start;
  }

  .recent input {
    width: 100%;
    margin-top: 10px;
  }

  .search img {
    left: 10px;
    top: 10px;
  }
}

/* (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .sidebar .logo {
    text-align: left;
    margin-top: 2rem;
  }
  .logo img {
    width: 100px;
  }

  .menuburger {
    align-items: center;
  }

  .menuburger,
  .menuMobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menuburger .menuMobile a i {
    font-size: 1.5rem;
  }
  .sidebar .hamburger {
    display: block;
  }

  .sidebar .menu {
    display: none;
  }
  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .stats {
    flex-direction: column;
  }

  .balance-section {
    flex-direction: column;
    padding: 10px;
  }

  .balance,
  .top-up {
    width: 100%;
    margin-bottom: 10px;
  }

  .recent-activity .recent {
    flex-direction: column;
    align-items: center;
  }

  .recent input {
    width: 25rem;
    margin-top: 10px;
  }

  .search img {
    left: 10px;
    top: 10px;
  }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
  }

  .stats {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .balance-section {
    flex-direction: row;
    padding: 20px;
  }

  .balance,
  .top-up {
    width: 45%;
  }

  .recent-activity .recent {
    flex-direction: row;
    align-items: center;
  }

  .recent input {
    width: 50%;
  }

  .search img {
    left: 20px;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sidebar {
    width: 250px;
  }

  .main-content {
    margin-left: 250px;
  }

  .stats {
    flex-direction: row;
  }

  .balance-section {
    flex-direction: row;
    padding: 30px;
  }

  .balance,
  .top-up {
    width: 45%;
  }

  .recent-activity .recent {
    flex-direction: row;
    align-items: center;
  }

  .recent input {
    width: 50%;
  }

  .search img {
    left: 30px;
  }
}
