* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f8;
}

.forgot-password-container {
    display: flex;
    width: 800px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.forgot-password-image-section {
    flex: 1;
    background: url('./Pay-me-img/forgot-password-img.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-logo {
    width: 200px;
    margin-bottom: 500px;
}

.forgot-password-form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.forgot-password-title {
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password-description {
    margin-bottom: 20px;
    text-align: center;
    color: #666;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forgot-password-label {
    font-weight: bold;
}

.forgot-password-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.forgot-password-btn {
    padding: 10px;
    background-color: #0D1944;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100px;
    align-self: self-end;
}

.forgot-password-btn:hover {
    background-color: #0D1944;
}

#forgotPasswordMessage{
    color: #E67E22;
}

/* Mobile view */
@media (max-width: 767px) {

    html{
        background-color: #E67E22;
    }

    body{
        background-color: transparent;
    }
    .forgot-password-container {
        flex-direction: column;
        width: 500px;
    }

    .forgot-password-image-section {
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .forgot-password-logo {
        width: 150px;
        margin-bottom: 20px;
    }

    .forgot-password-form-section {
        padding: 20px;
    }

    .forgot-password-btn {
        width: 100%;
        align-self: center;
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {

    html{
        background-color: #0D1944;
    }

    body{
        background-color: transparent;
    }
    .forgot-password-container {
        flex-direction: column;
        width: 700px;
        width: 700px;
    }

    .forgot-password-image-section {
        height: 300px;
        background-size: cover;
        background-position: center;
    }

    .forgot-password-logo {
        width: 150px;
        margin-bottom: 20px;
    }

    .forgot-password-form-section {
        padding: 30px;
    }

    .forgot-password-btn {
        width: 50%;
        align-self: center;
    }
}
