*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;

}

html{
    font-size: 62.50%;
}

/* header styles */

 header{
    position: fixed;
    z-index: 99;
    top:0;
    background-color: white;
    width: 100%;
 }
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    
}

.pay-me-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pay-me{
 color: #0D1944;
  text-align: center;
  line-height: 32px;
  font-weight: 600;
  position: relative;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


a{
    padding: 50px;
    font-size: 2.5rem;
    text-decoration: none;
    color: #0D1944;
    
     
}
a:hover{
    text-decoration: underline;
}



.home{
    color: #E67E22;
}
.home:hover{
    color: #0D1944;
    text-decoration: none;
}

.div-btn{
    padding: 35px;
    
    
}

.btn-sign-in{
    padding: 20px 40px;
    font-size: 2.5rem;
    background: #0D1944;
    color:white;
    border:none;
    margin-right: 50px;
    
}
.btn-sign-up{
    padding: 20px 40px;
    font-size: 2.5rem;
    background: #E67E22;
    color:white;
    border:none;

    
}


.btn-sign-up:hover{
    text-decoration:none;
    color: #BD692C;
    color: #fff;
}

.btn-sign-in:hover{
    background-color: #1D3896;
    
  
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1944;
    padding: 1rem;
}

.toggle-icon {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none; 
    
}

.nav-links {
    list-style: none;
    display: none; 
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color:#f8f8f8;
    text-decoration: none;
}


/* hero styles */

.hero-div {
    background-image: url(./Pay-me-img/hero-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6; 
}



.hero-text {
    padding-top: 300px;
    padding-left: 100px;
    position: absolute;
    top: 8%;
    color: white; 
    text-align: left; 
}

.hero-text h2{
    font-size: 4rem;
    color: #f8f8f8;
    font-weight: 600;
    margin-bottom: 10px;
    

}

.hero-text p{
    color: #f8f8f8;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 700px;
    margin-bottom: 20px;
    
   

}

 #get-started{
    padding: 10px 40px;
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    margin-top: 5px;
    
 }

 #get-started:hover{
    background-color:  #007AFF;
 }



.choose{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}
.choose-text{
    padding-top: 100px;
    text-align: left;
}

.choose-text h1{
    font-size: 7rem;
    font-weight: bolder;
    font-family: 'Manrope';
    color: #0D1944;
    margin-bottom: 50px;
}


.choose-text p{
    font-size: 2rem;
    color: #0D1944;
    margin-bottom: 30px;
}


.choose-text h3{
    font-size: 2.5rem;
    font-family: 300;
    color: #0D1944;
    margin-bottom: 10px;
    
}

span{
    margin-right: 10px;
}


/* work styles  */

.work-div h1{
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: #0D1944;
    padding: 50px;
}

.work-card{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.card{
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(13, 25, 68, 0.3);
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
}

.img-div{
    text-align: center;
}

.img-div img{
    width: 100%;
}


.card h3{
   margin-top: 30px;
    font-size: 2rem;
    color: #0D1944;
    text-align: center;
}


.card h4{
    margin: 20px;
    font-size: 1.5rem;
    color: #0D1944;
}

.card button{
    text-align: center;
    justify-content: center;
    align-self: center;
}

.btn-div{
    position: absolute;
    left: 45%;
    top: 70%;
    

}

.btn-div button{
    padding: 15px;
    border-radius: 50%;
    background-color: #0D1944;
    color: #fff;
    
   
}

.card:hover{
    background-color: #E67E22;
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(13, 25, 68, 0.5); 
}

.card:hover h3,
.card:hover h4 {
    color: #fff;
}




 


/* read style */

.read{
    text-align: center;
    margin: 100px;
}

.read button{
    padding: 20px 50px;
    font-size: 3rem;
    background-color: #0D1944;
    color: #f8f8f8;
}

.read button:hover{
    background-color: #1D3896;
    border: none;
    transition: transform 0.3s ease-in-out;
}

/* footer styles */

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #0D1944;
}

.footer-div{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}

.footer-div h2{
    font-size: 3rem;
    margin: 30px;
    color: #f8f8f8;
}
.footer-div h3{
    font-size: 2rem;
    margin: 30px;
    color: #f8f8f8;
}

.footer-div h2:hover{
    color: #E67E22;
    text-decoration: underline;
}
.footer-div h3:hover{
    color: #E67E22;
    text-decoration: underline;
}

.social{
    margin: 30px;
    color: #f8f8f8;
    font-size: 2rem;
    
}

.social h2{
    margin-bottom: 10px;
}

.social img{
    width: 30px;
    margin: 20px;
   
    
    
}



/* <--------------------------------------------> */


@media (max-width: 768px) {
    .toggle-icon {
        display: block; /* Show toggle icon on mobile */
       
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    .nav-links li {
        margin: 0;
        padding: 1rem;
        border-top: 1px solid #444;
    }

    .custom-icon {
        width: 50px;
        height: 50px;
        font-size: 50px; 
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    /* <-------------------------------> */

    
 nav{
    display: none;
 }

 .hero-text {
    padding:20px; 
    top: 10%;
    
}

.hero-text h2{
    font-size: 4rem;
}
.hero-text p{
    font-size: 2.5rem;
   

}

.choose{
    display: block;
    padding: 10px;
}

.choose-text h1{
    font-size: 5rem;
}


.choose-text p{
    font-size: 3.5rem;
    
}


.choose-text h3{
    font-size: 2.5rem;
    margin-bottom: 30px;
    
}

span{
    margin-right: 20px;
}

#choose-img{
    width: 450px; 
    margin-left: 10px;
    margin-top: 50px;
}


.work-div h1{
    font-size: 4rem;
    margin-bottom: 20px;
    
}

.work-card{
    display: block;
    text-align: center;
    margin-left: 100px;
}

.card{
    margin-top: 10px;
    width: 300px;
    
    
    
}

.btn-div button{
   display: none;
}





.read{
    margin: 50px;
}

footer {
    display: block;
    padding: 10px;
    
}

.footer-div{
    display: flex;
    margin: 10px;
    
}

.footer-div h2{
    font-size: 2rem;
    margin: 20px;
   
}
.footer-div h3{
    font-size: 1.5rem;
    margin: 30px;
    
}



}

@media (max-width: 1700px) {

    .pay-me{
         font-size: 1.5rem;
    
       }

       nav{
        padding: 10px;
        
        
    }

    a{
        padding: 10px;
        font-size: 3rem;
    }

    .btn-sign-in{
        padding: 10px 20px;
        font-size: 2.5rem;
        margin-right: 30px;
        
    }
    .btn-sign-up{
        padding: 10px 20px;
        font-size: 2.5rem;
    }

    #choose-img{
        width: 500px;
        margin-left: 30px;
    }

    .choose-text h1{
        font-size: 5rem;
    }
    
    
    .choose-text p{
        font-size: 2.5rem;
    }
    
    
    .choose-text h3{
        font-size: 2.5rem;
        font-family: 300;
        color: #0D1944;
        margin-bottom: 10px;
        
    }
    
    span{
        margin-right: 10px;
    }
    

    .work-card{
        padding-left: 0;
        padding-right: 0;
    }

   .card{
    margin: 20px;
    
   }

   .btn-div{
    position: absolute;
    left: 45%;
    top: 40%;
    

}

    

    

    .read{
        margin: 50px;
    }

    footer {
        padding: 10px;
    }

    .footer-div{
        margin: 10px;
        
    }

    .footer-div h2{
        font-size: 4rem;
        margin: 20px;
        
    }
    .footer-div h3{
        font-size: 2.5rem;
        margin: 20px;
    }

    .social h2{
        margin-bottom: 10px;
    }
    
    .social img{
        width: 40px;
        margin: 10px;
       
        
        
    }
    
       



}

@media (max-width: 1350px){

   nav a{
        font-size: 1.5rem;
       
        
         
    }

    .btn-sign-in{
        padding: 5px 10px;
        font-size: 1.5rem;
        margin-right: 10px;
        
    }
    .btn-sign-up{
        padding: 5px 10px;
        font-size: 1.5rem;
        
    }

    .choose{
        padding: 50px;
        
    }
    .choose-text{
        padding-top: 50px;
        
    }
    
    .choose-text h1{
        font-size: 5rem;
        margin-bottom: 20px;
    }
    
    
    .choose-text p{
        font-size: 1.5rem;
        
    }
    
    
    .choose-text h3{
        font-size: 2rem;
     
        
    }
    
    span{
        margin-right: 5px;
    }
    span img{
       width: 30px;
    }

    .work-div h1{
        font-size: 5rem;
        padding: 30px;
    }
    

}
