* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: manrope;
}
html {
    font-size: 62.5%;
}
/*desktop screens */
.ratings-reviews {
    width: 100vw;
    height: 160.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: #F8F8F8;
}
.ratings-header {
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.ratinglogo {
    width: 20.889rem;
    height: 8rem;
    align-items: center;
    
}
.ratinglogo img {
    max-width: 100%; 
    height: auto;
}
#back2dashboard {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    border: 2px solid #162A71;
}
#back2dashboard a {
    color: #162A71;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
}
#back2dashboard:hover {
    background-color: #162A71;
    color: white;
}
#back2dashboard:hover a {
    color: white;
}
.rating-contents {
    width: 104rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transaction-notice  {
    width:  120rem;
    height: 10.7rem;
    padding: 8px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.transaction-notice h2 {
    font-size: 3.981rem;
    font-weight: 700;
    font-family: manrope;
    color: #162A71;
    text-align: center;
}
.transaction-notice h4 {
     text-align: center;
     color: #1D3896;
     font-size: 2.765rem;
     font-family: manrope;
     font-weight: 600;
     line-height: 32px;
     word-wrap: break-word;  
}
.transaction-id {
    font-size: 2.304rem;
    font-family: manrope;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    color: #162A71;
}
#id-num {
    color: #E37E35;
    font-size: 2.304rem;
    font-family: manrope;
    font-weight: 600;
    line-height: 32px;
    word-wrap: break-word;
}
.progress-container {
    position: relative;
    width: 118.4rem;
    height: 14.2rem;
    align-self: center;
    font-family: manrope;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    
}
.line {
    position: absolute;
    height: 0.2rem;
    background: #E37E35;
    width: 60%;
    top: 25px;
    align-items: center;
}

.progress-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80.125rem;
    position: relative;
    align-items: center;
    padding: 0;
    top: -23px;
}

.step {
    align-items: center;
    position: relative;
    top: 5px;
}

.step .circle {
    width: 4.08rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #162A71;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    font-weight: bold;
    color: #ffa500;
}

.step.completed .circle {
    color: #ffa500;
    background-color: #162A71;
}

.step.active .circle {
    color: #ffa500;
}

.step .label {
    font-size: 1.92rem;
    font-weight: 600;
    color: #162A71;
    text-align: center;
}

.step.active .label,
.step.completed .label {
    font-weight: 600;
}
.feedback {
     width: 68.1rem;
     height: 6.4rem;
     border-radius: 10px;
     padding: 8px;
     background-color: #162A71;
     color: #F8F8F8;
     font-size: 2.765rem;
     font-weight: 600;
     align-items: center;
     text-align: center;
     margin-top: 40px;
}
.please-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #162A71;
}
.rating-tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.please-rate h5 {
    font-size: 2.304rem;
    font-weight: 600;
}
#comment {
    width: 60rem;
    height: 21.4rem;
    border-radius: 8px;
    border: 1px solid #162A71;
    padding: 8px;
    margin-top: 10px;
}
.please-rate label {
    font-size: 2.304rem;
    font-weight: 600;
    color: #162A71;
}
.rating {
    font-size: 24px;
}
  
.star {
    cursor: pointer;
    color: #ccc; /* default color */
    font-size: 50px;
}
  
.star:hover {
    color: blue; /* hover color */
}
  
.star.active {
    color: blue; /* active color */
}
.transaction-commment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ratingbtn {
    background-color: #162A71;
    width: 19.2rem;
    height: 5.6rem;
    color: white;
    border-radius: 10px;
    border: none;
}
#ratingbtn a {
    text-decoration: none;
    color: white;
    font-size: 2.304rem;
    font-weight: 600;
    align-items: center;
}
#ratingbtn:hover {
    background-color: #3b5fe0;
}

/* mobile  screen */
@media (max-width: 768px) {
    .ratings-reviews {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }

    .ratinglogo {
        width: 12rem;
        height: auto;
        margin-top: 30px;
        margin-left: 2rem;
        margin-right: auto;
    }

    .ratinglogo img {
        max-width: 50%;
        height: auto;
    }
    #back2dashboard {
        width: 3rem;
        height: 3rem;
        border-radius: 5px;
        border: 2px solid #162A71;
        margin-bottom: 2.5rem;
    }

    .rating-contents {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .transaction-notice {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .transaction-notice h2 {
        font-size: 2rem;
    }

    .transaction-notice h4 {
        font-size: 1.5rem;
    }

    .transaction-id,
    #id-num {
        font-size: 1.5rem;
    }

    .progress-container {
        width: 100%;
        height: auto;
    }

    .line {
        width: 53%;
         margin-bottom: 5rem;
    }

    .progress-bar {
        width: 100%;
    }

    .step .circle {
        width: 2.5rem;
        height: 2.25rem;
    }

    .step .label {
        font-size: 1.2rem;
    }

    .feedback {
        width: 100%;
        height: auto;
        padding: 5px;
        font-size: 1.5rem;
    }

    .please-rate {
        margin-top: 20px;
    }

    .please-rate h5 {
        font-size: 1.5rem;
    }

    #comment {
        width: 100%;
        height: auto;
    }

    .rating {
        font-size: 18px;
    }

    .star {
        font-size: 30px;
    }

    #ratingbtn {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    #ratingbtn a {
        font-size: 1.5rem;
    }
}

/* tablets devices*/
@media  (max-width: 1024px) {
    .ratings-reviews {
        width: 100%;
        height: auto;
        padding: 0 15px;
        background-color: #F8F8F8;
    }

    .ratinglogo {
        width: 15rem;
        height: 10rem;
        margin-top: 50px;
        margin-left: 5rem;
        margin-right: auto;
    }

    .ratinglogo img {
        width: 100%;
        height: auto;
    }
    #back2dashboard {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        border: 2px solid #162A71;
    }

    .rating-contents {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .transaction-notice {
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .transaction-notice h2 {
        font-size: 2.5rem;
    }

    .transaction-notice h4 {
        font-size: 1.8rem;
    }

    .transaction-id,
    #id-num {
        font-size: 1.8rem;
    }

    .progress-container {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .line {
        width: 90%;
        top: 0.1px;
    }

    .progress-bar {
        width: 100%;
    }

    .step .circle {
        width: 4rem;
        height: 3.75rem;
    }

    .step .label {
        font-size: 1.5rem;
    }

    .feedback {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 1.8rem;
        text-align: center;
    }

    .please-rate {
        margin-top: 20px;
    }

    .please-rate h5 {
        font-size: 1.8rem;
    }

    #comment {
        width: 100%;
        height: auto;
    }

    .rating {
        font-size: 20px;
    }

    .star {
        font-size: 40px;
    }

    #ratingbtn {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    #ratingbtn a {
        font-size: 1.8rem;
    }
}