* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
}

html {
  font: 62.5%;
}

.transaction-arrow {
  position: absolute;
  top: 27.5%;
  left: 37%;
  transform: translateX(-50%);
}

.transaction-details {
  background-color: #fff;
  height: 1130px;
  position: relative;
  

}
.history-image{
  border-radius: 0px 0px 160px 160px;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.logo {
  width: 210px;
  height: 80px;
  position: absolute;
  left: 120px;
  top: 80px;
  object-fit: cover;
  cursor: pointer;
}

.transaction {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.transaction h1 {
  color: #162a71;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
  padding-top: 40px;
}

.transaction img {
  max-width: 100%;
    height: auto;
}

.conditions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-left: 150px;
  padding: 20px;
  max-width: 100%;
}

conditions div {
  padding: 2rem;
}

.buyer-conditions {
  display: flex;
  flex-direction: column;
  color: #575757;
  text-align: left;
  font-size: 23px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 40px;
}

.buyer-conditions h1,
.seller-conditions h1 {
  font-size: 20px;
}

textarea {
  border: 1px solid #162a71;
  padding: 8px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 139px;
  outline-color: #162a71;
}

.transaction-code {
  color: #575757;
  text-align: left;
  font-size: 23px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 60px;
}
.input-field2 {
  border: 1px solid #162a71;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 320px;
  height: 56px;
  outline-color: #162a71;
}

.seller-conditions {
  color: #575757;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 23px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}

.transaction-group {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  text-align: left;
  justify-content: space-around;
  color: #575757;
  font-size: 23px;
  line-height: 32px;
  font-weight: 600;
  padding: 50px;


  
}

.transaction-group h1 {
  font-size: 20px;
  color: #575757;
  margin-right: 0 , 150px;

}


.error-message {
  color: red;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  display: none;
}

.success-message {
  color: green;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  display: none;
}

.text {
  color: #f8f8f8;
  background-color: #162a71;
  border: none;
  font-size: 1rem;
  padding: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;



}

.text:hover {
  background-color: #e37e35;
  color: #fff;
  box-shadow: 5px 10px 8px rgba(136, 136, 136, 1);
}



  /* Media Query for Tablets (600px to 900px) */
  @media (max-width: 900px) {
    .transaction-arrow {
      top: 87.5%;
      left: 26%;
      z-index: -1;
     
    }
  
    .logo {
      width: 156px;
      height: 60px;
      top: 24px;
    }
  
    .transaction h1 {
      font-size: 1.2rem;
    }
  
    .conditions {
      grid-template-columns: 1fr;
      padding: 1.5rem;
    }
  
    .transaction-group {
      flex-direction: column;
      gap: 1.5rem;
    }
    .transaction-group h1 {
      font-size: 1rem;
    
    }
    .text {
      width: 100%;
      font-size: 1rem;
      padding: 0.7rem;
    }
    

    
  }
  
  @media (max-width: 600px) {
    .transaction-arrow {
      top: 87.5%;
      left: 15%;
      z-index: -1;
    }  
    .logo {
      width: 80px;
      height: 30px;
      top: 25px;
    }
  
    .transaction h1 {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }
  
    .conditions {
        width: 40vw;
        height: auto;
        flex-direction: column;
        align-items: center;
    
      

    }
  
    .transaction-group {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      
    }
  
    .text {
      width: 100%;
      padding: 5px;
      font-size: 1rem;
    }
  
    textarea, .input-field2 {
      height: auto;
    }
  }
  