* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.container {
  background-color: #fff;
}

.header {
  background-image: url(./Pay-me-img/travelHero.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 20px;
  z-index: 1;
}
/* 
.header::after {
  content: "";
  background: black;
  width: 100vw;
  height: 50vh;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 140px;
} */

.logo {
  max-width: 150px;
  margin: 50px 110px;
}

.main-content {
  text-align: center;
  padding: 20px;
}

h1,
h2,
h3,
p {
  color: darkblue;
  margin-bottom: 20px;
}

.transaction-id {
  color: #ff7f00;
  font-weight: bold;
}

.progress-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 50px;
  margin: 50px 0 100px;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ff7f00;
}

.progressstep {
  width: 25px;
  height: 25px;
  border: 2px solid darkblue;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
  cursor: pointer;
}

.current {
  background-color: darkblue;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.delivery-container {
  padding: 20px;
  border-radius: 5px;
  margin: 0 23%;
  border: darkblue solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.delivery {
  text-align: center;
  margin: 20px 0;
}

.delivery img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.confirmation {
  text-align: center;
  padding: 0 50px;
}

.confirmation h2 {
  margin: 20px 0;
}

.seller-account {
  font-weight: bold;
  color: #ff7f00;
  margin-left: 10px;
}

.checkbox {
  margin: 50px 0;
}

.checkbox input {
  margin: 4px 20px 0;
  vertical-align: bottom;
  height: 20px;
  width: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.confirm-btn,
.dispute-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.confirm-btn {
  background-color: #11225a;
  color: #fff;
}

.confirm-btn:hover {
  background-color: #ff7f00;
}

.dispute-btn {
  background-color: #ff7f00;
  color: #fff;
}

.dispute-btn:hover {
  background-color: #11225a;
}
.dispute-btn a,
.confirm-btn a {
  text-decoration: none;
  color: #fff;
}
/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header {
    margin: -10px;
  }

  .logo {
    margin-left: 15px;
  }

  .progress-bar {
    flex-direction: row;
    align-items: center;
  }

  .progress-bar::before {
    content: none;
  }

  .step {
    margin-bottom: 10px;
  }

  .buttons {
    flex-direction: column;
  }

  .confirm-btn,
  .dispute-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 580px) {
  .header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: -10px;
  }

  .progress-bar {
    flex-direction: row;
  }
  .step {
    font-size: 12px;
  }
  .logo {
    max-width: 80px;
    margin-left: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  .step {
    padding: 5px 10px;
  }

  .delivery p {
    font-size: 0.9em;
  }

  .confirmation h2 {
    font-size: 1.2em;
  }

  .checkbox input {
    margin: 4px 0 0;
  }

  .checkbox label {
    font-size: 0.9rem;
  }
}
